/* estilos globais já vêm do Tailwind */

.cdk-drag-preview {
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  opacity: 0.95;
}

.cdk-drag-placeholder {
  opacity: 0.3;
}

.cdk-drag-animating {
  transition: transform 200ms ease;
}
